server {
    listen 80;
    listen [::]:80;
    server_name @@FQDN@@;
    server_tokens off;

    location ^~ /.well-known/acme-challenge/ {
        root /var/lib/letsencrypt;
        default_type text/plain;
        try_files $uri =404;
        auth_basic off;
    }
    location / {
        return 301 https://@@FQDN@@$request_uri;
    }
}
